on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

name: CI (with module system)

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - "4.25.0"
          - "4.25.1"
          - "4.26.0-rc1"
          - "nightly-2025-11-18"
          - "nightly-2025-11-19"
          - "nightly-2025-11-25"

        platform:
          - os: nscloud-ubuntu-22.04-amd64-8x16
            installer: |
              curl https://elan.lean-lang.org/elan-init.sh -sSf | sh -s -- -y

    name: Build and test (${{ matrix.platform.os }}, ${{ matrix.platform.installer}}, ${{ matrix.toolchain}})
    uses: "./.github/workflows/run-ci.yml"
    with:
      toolchain: ${{ matrix.toolchain }}
      os: ${{ matrix.platform.os }}
      installer: ${{ matrix.platform.installer }}
      module-system: true

  module-complete:
    needs: build
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: "Check matrix result"
        if: needs.build.result != 'success'
        run: exit 1
      - run: echo "All module-system-enabled tests passed"
