on:
  push:
    branches:
      - main
  pull_request:

name: CI

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - "4.0.0"
          - "4.1.0"
          - "4.2.0"
          - "4.3.0"
          - "4.4.0"
          - "4.5.0"
          - "4.6.0"
          - "4.7.0"
          - "4.8.0"
          - "4.9.0"
          - "4.10.0"
          - "4.11.0"
          - "4.12.0"
          - "4.13.0"
          - "4.14.0"
          - "4.15.0"
          - "4.16.0"
          - "4.17.0"
          - "4.18.0"
          - "4.19.0"
          - "4.20.0"
          - "4.20.1"
          - "4.21.0"
          - "4.22.0"
          - "4.23.0"
          - "4.24.0-rc1"
          - "nightly-2025-09-26"

        platform:
          - os: nscloud-ubuntu-22.04-amd64-8x16
            installer: |
              curl https://elan.lean-lang.org/elan-init.sh -sSf | sh -s -- -y
        # Mac runners are rare and expensive, so spot-check that the
        # subprocess support seems OK but be less thorough
        include:
          - toolchain: "4.9.1"
            platform:
              os: macos-latest
              installer: |
                curl https://elan.lean-lang.org/elan-init.sh -sSf | sh -s -- -y
          - toolchain: "4.8.0"
            platform:
              os: macos-latest
              installer: |
                brew install elan-init
          - toolchain: "4.3.0"
            platform:
              os: macos-latest
              installer: |
                brew install elan-init
    name: Build and test (${{ matrix.platform.os }}, ${{ matrix.platform.installer}}, ${{ matrix.toolchain}})
    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Install elan
        run: |
          set -o pipefail
          ${{ matrix.platform.installer }}
          echo "$HOME/.elan/bin" >> $GITHUB_PATH

      - name: Which lake?
        run: |
          which lake

      - uses: actions/checkout@v3

      - name: List all files
        run: |
          find . -name "*.lean" -type f

      - name: Select Lean version
        run: |
          echo "leanprover/lean4:${{ matrix.toolchain }}" > lean-toolchain

      - name: Lean version
        run: |
          lean --version

      - name: Cache .lake
        uses: actions/cache@v4
        with:
          path: .lake
          key: ${{ runner.os }}-${{ hashFiles('lake-manifest.json') }}-${{ hashFiles('lean-toolchain') }}
          
      - name: Build the project
        run: |
          lake build

      - name: Configure demo/test subproject
        run: |
          pushd demo
          lake update
          lake build :examples
          lake build :highlighted
          popd

      - name: Run tests
        run: |
          lake exe subverso-tests
